* {
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  background-color: lightgray;
  color: black;
}

button:hover {
  background-color: black;
  color: white;
}

html {
  background: url("../images/caravan.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body,
html {
  height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/gloomhaven.jpg");
  height: 300px;
  width: 850px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  border: 2px solid black;
  margin-top: 20px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: lightgrey;
}

.hero-text img {
  height: 150px;
  width: 150px;
  border: 2px solid lightgray;
  border-radius: 50%;
  position: relative;
  right: 600px;
  bottom: 15px;
}

.social-bar {
  border: 2px dotted lightgray;
  display: inline;
  position: relative;
  padding: 3px;
  bottom: 28px;
  left: 665px;
}

.social-bar button {
  cursor: pointer;
}

h1 {
  font-size: 48px;
}

.name h2 {
  color: lightgrey;
  position: relative;
  left: 675px;
  bottom: 100px;
}

#nav li {
  position: relative;
  display: inline;
  font-size: 21px;
  left: 0;
  bottom: 400px;
}

.crag img {
  position: relative;
  height: 150px;
  width: 327px;
  display: inline-block;
  top: 80px;
  left: 492px;
  border: 5px double black;
}

.spell img {
  position: relative;
  height: 150px;
  width: 327px;
  display: inline-block;
  top: 80px;
  left: 492px;
  border: 5px double black;
}

.tink img {
  position: relative;
  height: 150px;
  width: 327px;
  display: inline-block;
  top: 80px;
  left: 492px;
  border: 5px double black;
}

.sidebar-left1 {
  position: absolute;
  top: 400px;
  background-color: peru;
  width: 328px;
  height: 120px;
  left: 500px;
  bottom: 25px;
  border: 5px double black;
}

.sidebar-left1::after {
  content: "Enemies";
  text-align: center;
  line-height: 160px;
  color: white;
  font-size: 36px;
  font-style: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: sandybrown;
  height: 100px;
  width: 307px;
  position: relative;
  display: inline-block;
  margin: 5px;
  background-image: url("../images/group.jpg");
  background-size: cover;
  opacity: 0.8;
}

.sidebar-right {
  position: relative;
  background-color: peru;
  width: 512px;
  height: 120px;
  left: 860px;
  bottom: 510px;
  border: 5px double black;
}

.sidebar-right::after {
  content: "News Feed";
  text-align: center;
  line-height: 160px;
  color: white;
  font-size: 36px;
  font-style: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: sandybrown;
  height: 100px;
  width: 491px;
  position: relative;
  display: inline-block;
  margin: 5px;
  background-image: url("../images/travel.jpg");
  background-size: cover;
  opacity: 0.8;
}

.sidebar-right2 {
  position: relative;
  background-color: lightgray;
  width: 512px;
  height: 457px;
  left: 860px;
  bottom: 502px;
  border: 5px double black;
}

.text {
  padding: 10px;
}

.footer {
  position: absolute;
  top: 1000px;
  left: 900px;
  color: lightgrey;
}
